.game__box--container {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.game__box--cell {
  height: 5rem;
  width: 5rem;
  border: 2px solid black;
}

.game__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
